.sekcija-pretraga {
  background-image: url("/assets/slike/ui/pozadine/akumulatori.png");
  /* background-image: url('/assets/slike/ui/pozadine/akumulatori.png'); */
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  .sekcija-pretraga {
    background-image: none;
  }
}
