
.sekcija-pretraga {
    height: 150px;
    background-image: url('/automaterijal/assets/slike/ui/pozadine/akumulatori.png');
    /* background-image: url('/assets/slike/ui/pozadine/akumulatori.png'); */
    background-repeat: no-repeat;
    background-size: contain;
}
