@import "src/automaterijal-theme.scss";

// Animation for the carousel
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@Keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


img {
  height: 300px;
  vw: 100 !important;
}

.sekcija {
  padding: 30px;
  padding-bottom: 40px;
}
.skecija-mala {
  padding: 10px;
}
.skecija-srednja {
  padding: 20px;
}

.inline-content {
  display: inline;
}

.paragraph {
  font-size: 1.01em;
  margin-right: 15px;
  text-align: center;
}

.centar {
  text-align: center;
}
.velicina-ikone {
  font-size: 0.8em;
  color: $automaterijal-primary-100;
}
.header {
  display: inline;
  font-size: 0.9em;
  margin-left: 5px;
  color: black;
}
.pomeri-levo {
  margin-right: 15px;
}
@media only screen and (max-width :1025px) { 
  .paragraph {
    font-size: 1em;
    margin-right: 0px;
    text-align: left;
  }
  .inline-content {
    display: block;
  }
  .inline-button {
    margin-left: 44%;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .mobilni {
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}