<main>
  <section class="d-flex flex-xl-row-reverse flex-column centar skecija-mala">
    <div class="pomeri-levo">
      <i class="material-icons velicina-ikone">
        place
      </i>
      <p class="header">Kralja Milutina 159, Šabac</p>
    </div>
    <div class="pomeri-levo">
      <i class="material-icons velicina-ikone">
        email
      </i>
      <p class="header">office@automaterijal.com</p>
    </div>
    <div class="pomeri-levo">
      <i class="material-icons velicina-ikone">
        phone
      </i>
      <p class="header"> <a class="header boja-glavna-100" href="tel:015319000">015/319-000</a></p>
    </div>
  </section>
  <section class="d-flex flex-xl-row flex-column">
    <div class="detalji-magacina slika-header">
      <mat-list class="mat-lista">
        <mat-list-item class="list-item">
          <span class="material-icons ikona boja-zelena-50">
            dashboard
          </span>
          <div class="d-flex flex-column bd-highlight detalji-magacina-opis">
            <div *ngIf="brojArtikala === '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojArtikala}}</div>
            <div *ngIf="brojArtikala !== '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojArtikala | number }}</div>
            <div class="p-1 bd-highlight centar boldiraj">Razlicitih artikala</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="list-item">
          <span class="material-icons ikona boja-zelena-50">
            label_important
          </span>
          <div class="d-flex flex-column bd-highlight detalji-magacina-opis">
            <div *ngIf="brojArtikala === '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojProizvodjaca}}</div>
            <div *ngIf="brojArtikala !== '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojProizvodjaca | number}}</div>
            <div class="p-1 bd-highlight centar boldiraj">Razlicitih proizvodjaca</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="list-item">
          <span class="material-icons ikona boja-zelena-50">
            compare_arrows
          </span>
          <div class="d-flex flex-column bd-highlight detalji-magacina-opis">
            <div *ngIf="brojFakture === '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojFakture}}</div>
            <div *ngIf="brojFakture !== '-'" class="p-1 bd-highlight broj centar boldiraj boja-glavna-100">{{brojFakture | number }}</div>
            <div class="p-1 bd-highlight centar boldiraj">Web porudzbina</div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
  <section class="sekcija">
    <h2 class="sekcija-h2">Izdvajamo iz ponude</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let roba of robaPonuda">
        <mat-card class="mat-card-ponuda">
          <mat-card-header>
          </mat-card-header>
          <div class="slika-div">
            <img class="izdvajamo-slika" mat-card-image src="{{roba.slika}}">
          </div>
          <mat-card-content class="opis">
            <p>
              Cena sa pdv-om: <span class="cena"> {{roba.cena | currency:" "}} RSD </span>
            </p>
            <p>
              Kataloški broj: <span class="katbr"> {{roba.katbr}} </span>
            </p>
            <p>
              Proizvodjač: <span class="proizvodjac-naziv"> {{roba.proizvodjac.naziv}} </span>
            </p>
            <p class="naziv">{{roba.naziv}}</p>

            <div class="bd-highlight cena-stanje">
              <ul class="teh-detalji-ui">
                <li class="d-flex justify-content-center bd-highlight">
                  <div class="p-1 w-100 bd-highlight kolicina-input-labela" *ngIf="roba.stanje > 0">
                    <label class="labela-kolicina">Količina:</label>
                    <div class="kolicina-div">
                      <span (click)="oduzmiOdKolicine(roba)" class="izbrisi-ikona">
                        <i class="material-icons kolicina-ikona">
                          remove
                        </i>
                      </span>
                      <span>
                        <input type="number" min="1" (keyup.enter)="dodajUKorpu(roba)" placeholder="1"
                          max="{{roba.stanje}}" class="input-kolicina-tabela" [(ngModel)]="roba.kolicina" />
                      </span>
                      <span (click)="dodajKolicini(roba)" class="dodaj-ikona">
                        <i class="material-icons kolicina-ikona">
                          add
                        </i>
                      </span>
                    </div>
                  </div>
                  <div class="p-1 w-100 bd-highlight kolicina-input-labela" *ngIf="roba.stanje === 0">
                    <label class="labela-kolicina">Količina:</label>
                    <div class="kolicina-div">
                      <span (click)="oduzmiOdKolicine(roba)" class="izbrisi-ikona">
                        <i class="material-icons kolicina-ikona">
                          remove
                        </i>
                      </span>
                      <span>
                        <input type="number" min="1" placeholder="0"
                          max="{{roba.stanje}}" class="input-kolicina-tabela"/>
                      </span>
                      <span (click)="dodajKolicini(roba)" class="dodaj-ikona">
                        <i class="material-icons kolicina-ikona">
                          add
                        </i>
                      </span>
                    </div>
                  </div>
                  <div class="lex-shrink-1 bd-highlight stanje-ikona">
                    <div *ngIf="roba.stanje > 0" class="text-center tabela-u-korpi">
                      <span>Na stanju</span>
                      <mat-icon [class.nema-na-stanju]="!partnerLogovan" matTooltip="Ima na stanju"
                        class="boja-zelena-50">check_circle_outline</mat-icon>

                    </div>
                    <div *ngIf="roba.stanje == 0" class="text-center tabela-u-korpi nema-na-stanju-div">
                      <span>U korpi</span>
                      <mat-icon matTooltip="Nema na stanju" class="boja-crvena-50 nema-na-stanju">remove_circle_outline
                      </mat-icon>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="bd-highlight">
              <div *ngIf="roba.stanje > 0" class="d-flex flex-row justify-content-center text-center">
                <div class="dugme-mobilni">
                  <button mat-raised-button matTooltip="Dodaj u korpu" class="dugme button-glavni-100" (click)='dodajUKorpu(roba)'>
                    <i class="material-icons">
                      add_shopping_cart
                    </i>
                  </button>
                </div>
                <div class="dugme-detalji dugme-mobilni">
                  <button mat-raised-button matTooltip="Detalji" [disabled]="roba.slika == 'assets/slike/ui/roba/slikanijedostupna.jpg'"
                    class="dugme button-crveni-50" (click)='detaljiRobe(roba.robaid)'>
                    <i class="material-icons">
                      library_books
                    </i>
                  </button>
                </div>
              </div>
              <div *ngIf="roba.stanje === 0" class="d-flex flex-row justify-content-center text-center">
                <div>
                  <button mat-raised-button matTooltip="Detalji" [disabled]="roba.slika == 'assets/slike/ui/roba/slikanijedostupna.jpg'"
                    class="dugme-detalji-u-korpi dugme button-crveni-50" (click)='detaljiRobe(roba.robaid)'>
                    Detalji
                    <i class=" material-icons mt-u-korpi float-right">
                      library_books
                    </i>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>