@import "src/automaterijal-theme.scss";

// Deo za korpu css --------------------------------------------------------
.table-korpa {
  max-width: 1200px;
  margin-top: 0px;
}
tr.mat-header-row {
  display: none;
}
.suma-labela {
  font-size: 0.8rem;
}
.suma-cena-div {
  font-size: 1.12rem;
  color: $automaterijal-primary-50;
  font-weight: bold;
}
tr.mat-row {
  border-bottom: 5px solid $automaterijal-grey-400;
}
.roba-naziv {
  color: $automaterijal-primary-100;
  font-weight: bold;
}
.roba-katbr {
  color: $automaterijal-primary-100;
  font-weight: bold;
  margin-left: 7px;
}
.roba-proizvodjac {
  color: $automaterijal-primary-100;
  font-weight: bold;
  margin-left: 20px;
}
.ukupna-cena-div {
  position: relative;
  top: 20px;
  left: 10px;

}
.dugme-brisanje {
  position: relative;
  bottom: 70px;
  left: 179px;
}
.dugme-brisanje:hover {
  color: red;
}
.kolicina-div {
  display: inline-block;
  margin-left: 42px;
  width: 120px;
  border-width: 0.5px;
  border-style: solid;
  border-color:  #ebebeb;
}
.kolicina-div span {
  width: 39px;
  display: inline-block;
  text-align: center;
}
.kolicina-ikona {
  font-size: 16px;
  position: relative;
  top: 2px;
}
.izbrisi-ikona:hover {
  cursor: pointer;
  color: $automaterijal-accent-red-50;
  user-select: none
}
.dodaj-ikona:hover {
  cursor: pointer;
  color: $automaterijal-primary-100;
  user-select: none
}
.input-kolicina-korpa {
  border:none;
  border-bottom: #ebebeb 0.3px solid;
  text-align: center;
  width: 42px;
}
  /* Chrome, Safari, Edge, Opera */
  .input-kolicina-korpa::-webkit-outer-spin-button,
  .input-kolicina-korpa::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-kolicina[type=number] {
  -moz-appearance:textfield;
}

.mat-column-akcije { 
  width: 220px;
}
// -----------------------------------------------------------------------
.velicina-dugmeta {
  padding: 0 10px;
}

.korpa-h1 {
  margin-top: 0.5em;
  font-size: 3.5em;
  color: $automaterijal-primary-100;
}

.headerKorpa {
  background-image: url('/assets/slike/ui/pozadine/korpa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  height: 100px;
}

p {
  text-align: left !important;
}

h3 {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  color: $automaterijal-primary-100;
}

hr {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
  color: $automaterijal-primary-100;
}

textarea{
  color: $automaterijal-primary-50;
}

label {
  color: $automaterijal-primary-50;
  font-weight: bold;
}

.radio-grupa {
  display: inline-flex;
  flex-direction: column;
}

.radio-dugme {
  margin: 2px;
  font-size: 0.8em !important;
}

.sirina-cena {
  width: 95%;
}
.dugme-sirina {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.sirina-pojedinacne-cene {
  width: 200px;
}

.granice {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); 
  background-color: white;
  padding-left: 5px;
  width: 95%;
  margin:5px;
}

.pomeri-dole {
  margin-top: 7px;
}

.visina {
  height: 181px;
}
.visina-prevoza {
  height: 193px;
}
.napomena {
  height: 80px;
}

.google-mapa {
  margin-left: 10%;
  width: 80%;
}
@media only screen and (max-width : 1200px) {

  .granice {
    width: 99%;
  }
  
}

@media only screen and (max-width : 640px) { 

  .korpa-h1 {
    margin-top: 0.5em;
  }

  
.headerKorpa {
  background-size: 100% 75px;
}

  .sirina-cena {
    width: 95%;
    margin-left: 2%;
  }
}
  
@media screen and (max-width: 900px) {

    p {
        font-size: 0.89em;
        text-align: right !important;
    }
    tr.mat-header-row {
        height: 0px;
    }
    .text-center {
        text-align: none;
    }
    .mat-table .mat-cell:last-child {
       margin-top: 10px;
       padding-left: 10px;
       padding-right: 10px;
       height: 45px;
    }
    .button-align {
      text-align: center;
    }
    .levo-dugme {
      padding-right: 20px !important ;
      display: inline-block !important ;
    }

    .desno-dugme {
      padding-left: 20px !important ;
      display: inline-block !important ;
    }
}
