@import "src/automaterijal-theme.scss";

.korpa-h1 {
  margin-top: 0.5em;
  font-size: 3.5em;
  color: $automaterijal-primary-100;
}

.headerKorpa {
  background-image: url('/automaterijal/assets/slike/ui/pozadine/korpa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  height: 100px;
}

p {
  text-align: left !important;
}

h3 {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  color: $automaterijal-primary-100;
}

hr {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
  color: $automaterijal-primary-100;
}

textarea{
  color: $automaterijal-primary-50;
}

label {
  color: $automaterijal-primary-50;
  font-weight: bold;
}

.radio-grupa {
  display: inline-flex;
  flex-direction: column;
}

.radio-dugme {
  margin: 2px;
  font-size: 0.8em !important;
}

.sirina-cena {
  width: 95%;
}
.dugme-sirina {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.granice {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); 
  background-color: white;
  padding-left: 5px;
  width: 95%;
  margin:5px;
}

.pomeri-dole {
  margin-top: 7px;
}

.visina {
  height: 181px;
}
.visina-prevoza {
  height: 193px;
}
.napomena {
  height: 80px;
}

.google-mapa {
  margin-left: 10%;
  width: 80%;
}
@media only screen and (max-width : 1200px) {

  .granice {
    width: 99%;
  }
  
}

@media only screen and (max-width : 640px) { 

  .korpa-h1 {
    margin-top: 0.5em;
  }

  
.headerKorpa {
  background-size: 100% 75px;
}

  .sirina-cena {
    width: 95%;
    margin-left: 2%;
  }
}
