
$automaterijal-grey-50: rgba(38, 50, 56, 1); 
$automaterijal-grey-100: rgba(96, 125, 139, 1);
$automaterijal-grey-200: rgba(142, 167, 180, 1);
$automaterijal-grey-300: rgba(207, 216, 220, 1);
$automaterijal-grey-400: rgba(248, 248, 248, 1);

$automaterijal-primary-50: rgb(39, 55, 71);
$automaterijal-primary-100: rgb(52, 92, 172);
$automaterijal-primary-200: rgba(84, 122, 161, 1);
$automaterijal-primary-300:rgba(129, 212, 250, 1);


$automaterijal-accent-green-50: rgba(51, 105, 30, 1);
$automaterijal-accent-green-100: rgba(67, 160, 71, 1);
$automaterijal-accent-green-200: rgba(165, 214, 167, 1);

$automaterijal-accent-yellow-50: rgba(251, 192, 45, 1);
$automaterijal-accent-yellow-100: rgba(255, 235, 59, 1);
$automaterijal-accent-yellow-200: rgba(255, 249, 196, 1);

$automaterijal-accent-red-50: rgba(183, 28, 28, 1);
$automaterijal-accent-red-100: rgba(241, 59, 46, 1);
$automaterijal-accent-red-200: rgba(255, 205, 210, 1);
