@import "src/automaterijal-theme.scss";

snack-bar-container {
    background-color: $automaterijal-primary-50 !important;
    color: $automaterijal-grey-400;
  }

.my-snack-bar {
    background-color: $automaterijal-accent-red-50 !important;
  }