spring:
  datasource:
    url: jdbc:mysql://localhost:3306/automate_orders?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false&serverTimezone=Europe/Amsterdam
    username: root
    password: Crninovembar18!
    hikari:
      maximum-pool-size: 10       # Maximum connections in the pool
      minimum-idle: 2            # Minimum idle connections
      idle-timeout: 60000        # 60 seconds before an idle connection is removed
      max-lifetime: 1800000      # 30 minutes before a connection is closed
      connection-timeout: 30000  # 30 seconds timeout for acquiring a connection
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        sessionVariables: wait_timeout=300,interactive_timeout=300


# Putanje za slike proizvoda
roba:
  slika:
    tdPrefix: "/Users/radespasojevic/development/automaterijal/misc/tecdoc/pictures/"
    publicPrefix: "/images/roba/"
    noImageUrl: "/images/no-image/no-image.png"

blog:
  cover-image:
    directory: "/Users/radespasojevic/development/automaterijal/misc/tecdoc/blog"

sitemap:
  blog-prefix: /blog

integration:
  szakal:
    enabled: true
    order:
      mode: MOCK
    data-dir: /Users/radespasojevic/development/automaterijal/misc/providers/szakal
  febi:
    enabled: true
    client-id: clktr_e9b5a2c8302cda39719738de3f28cf7f
    client-secret: O1CgWaLoswnZHuI81R0gwzeI03DQTZw9
    price-list-path: /Users/radespasojevic/development/automaterijal/misc/providers/febi/febi-pricelist.xlsx
    bypass-article-errors: true
    # base-url and destination-country left default; override here if needed
    order:
      mode: MOCK

security:
  password:
    bypass: true
