.sekcija-pretraga {
    height: 150px;
    background-image: url('/automaterijal/assets/slike/ui/pozadine/roba.png');
    /* background-image: url('/assets/slike/ui/pozadine/roba.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: 120%;
}
