@import "src/automaterijal-theme.scss";

h2 {
    color: $automaterijal-primary-50 !important;
    font-size: 18px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    text-align: left;
    font-family: inherit;

}

.radio-group {
    display: inline-flex;
    flex-direction: column;
  }

 .puna-duzina {
      width: 100%;
 }