@import "src/automaterijal-theme.scss";
h1 {
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.sekcija-pretraga {
    height: 120px;
    background-image: url(/assets/slike/ui/pozadine/roba.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 120px;
}

a {
    color: $automaterijal-primary-100;
}

.slovo {
    width: 30px;
    margin-top: 0px;
    padding: 0px;
}

@media only screen and (max-width: 950px) {
    .sekcija-pretraga {
        height: 100px;
        background-size: 120% 100px;
    }
}
