.sirina-odabira-vrste {
  margin-top: 10px;
  float: right;
  width: 450px;
}

.input-group-prepend {
  display: block;
}

.pretraga-bar-industrijska {
  display: block;
  padding-top: 10px;
}

.bg-image {
  background-image: url('/assets/slike/ui/pozadine/ulje.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.sekcija-pretraga {
    height: 50px;
}

@media only screen and (max-device-width :1025px) { 

  .sekcija-pretraga {
      height: 60px;
  }

    .mobilna-visina {
      margin-top: 10px;
    }
  }

@media only screen and (max-device-width : 640px) { 


  .mobilna-visina {
    margin-top: 9px;
  }
  .input-group-text {
    font-size: 0.9em;
  }
    
    .sirina-odabira-vrste {
        width: 100%;
    }
}
