.sirina-odabira-vrste {
    width: 450px;
    float: right;
}
.forms-input-industrija {
    display: flex;
    border-radius: 45px;
    padding: 1px;
    margin-top: 5px;
    background: white;
    border:2px solid grey;
    width: 40%;
    font-weight: bold;
    text-align: center;
}

.col-lg {
  padding: 0px !important;
}
.sekcija-pretraga {
    height: 130px;
    background-image: url('/automaterijal/assets/slike/ui/pozadine/ulje.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-device-width :1025px) { 

    .mobilna-visina {
      margin-top: 10px;
    }

    .forms-input-industrija {
      display: flex;
      border-radius: 45px;
      padding: 1px;
      margin-top: 30px;
      background: white;
      border:2px solid grey;
      width: 80%;
      font-weight: bold;
      text-align: center;
    }
  }

@media only screen and (max-device-width : 640px) { 

    .mobilna-visina {
      margin-top: 10px;
    }
    
    .sirina-odabira-vrste {
        width: 100%;
    }
    .forms-input-industrija {
      border-radius: 45px;
      background: white;
      border:2px solid grey;
      width:100%;
      margin-top: 5px;
      font-weight: bold;
      text-align: center;
      display: flex;
      }  
}
