@import "src/automaterijal-theme.scss";

.h1-upozorenje {
  color: $automaterijal-grey-200 !important;
  text-align: center;
  font-size: 50px
}

.prazna-tabela {
  margin-top: 15%;
  align-items: center;
}

.icon-size {
  font-size: 50px !important;
  color: $automaterijal-grey-200;
  text-align: center;
}