<h1>Izdvajamo iz ponude</h1>
<div class="d-flex flex-lg-row flex-column justify-content-center">
  <div *ngFor="let vest of ponuda">
    <mat-card class="example-card" fxLayout="row" fxLayoutWrap>
      <mat-card-header class="naslov">
        <mat-card-title>
          <h2>{{vest.naslov}}</h2>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{vest.opisSlika}}" alt="Slika Ponude">
      <mat-card-content class="card-sadrzaj">
        <p class="opis-vesti">
          {{vest.opis}}
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <button class="sirina button-glavni-100" mat-raised-button (click)="detaljiVesti(vest.id)">Pročitaj</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>