
.sekcija-pretraga {
    height: 150px;
    background-image: url('/assets/slike/ui/pozadine/filteri.png');
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-device-width :1025px) { 
    .mobilna-duzina {
        width: 100%;
    }
    .input-group-prepend {
        margin-top: 10px;
        margin-left: 0px;
    }
}
