@import "src/automaterijal-theme.scss";

.sidenav-container {
  height: 100%;
}
.pozicija {
  margin: 0 auto;
  padding-bottom: 220px;
}
.sidenav {
  width: 200px;
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.header-navigacija {
  font-size: 0.7em !important;
  width: 160px;
}

.header-sirina {
  width: 160px !important;
}

p {
  color: $automaterijal-grey-400 !important;
}

mat-divider {
  border-width: 1px;
  border-style: solid;
  border-color: $automaterijal-grey-300;
}

.margin-gore {
  margin-top: 120px;
}

.side-toolbar {
  height: 120px;
  width: 200px;
}

.header-pozicija {
  top: 0px;
  position: fixed;
  z-index:999;
}
@media screen and (max-device-width :1000px) { 
  .pozicija {
    padding-bottom: 490px;
  }
}

@media screen and (max-width: 990px) {
  .pozicija {
    padding-bottom: 500px;
  }
}