<mat-sidenav-container class="sidenav-container pozadina-siva-400">
  <mat-sidenav #drawer class="sidenav pozadina-glavna-50" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar *ngIf="partner.ppid" class="side-toolbar pozadina-glavna-50 header-pozicija">
      <div class="d-flex flex-column ">
        <div class="d-flex justify-content-center header-sirina">
          <mat-icon class="boja-siva-300">person</mat-icon>
        </div>
        <p class="text-center header-navigacija">{{partner.naziv}}</p>
        <p class="text-center header-navigacija">{{partner.email  | lowercase}}</p>
      </div>
    </mat-toolbar>
    <mat-nav-list [class.margin-gore]="partner.ppid">
      <mat-divider *ngIf="partner.ppid" class="pozadina-siva-300"></mat-divider>
      <mat-list-item class="material-icons" [routerLink]="['naslovna']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>home</mat-icon>
        <p mat-line>Naslovna</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['o-nama']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>book</mat-icon>
        <p mat-line>O nama</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['kontakt']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>contact_phone</mat-icon>
        <p mat-line>Kontakt</p>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <h3 class="pozadina-glavna-50 boja-siva-300" mat-subheader>Internet prodavnica</h3>

      <mat-list-item class="material-icons" *ngIf="partner.ppid" [routerLink]="['korpa']"
        [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon matBadgeColor="warn" class="boja-siva-300" matBadge="{{korpaBadge}}" mat-list-icon>shopping_cart
        </mat-icon>
        <p mat-line>Korpa</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['roba']" [routerLinkActive]="['pozadina-glavna-200']"
        [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>searche</mat-icon>
        <p mat-line>Roba - pretraga</p>
      </mat-list-item>


      <mat-list-item class="material-icons" [routerLink]="['ulja']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>invert_colors</mat-icon>
        <p mat-line>Ulja</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['filteri']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>layers</mat-icon>
        <p mat-line>Filteri</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['akumulatori']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>battery_charging_full</mat-icon>
        <p mat-line>Akumulatori</p>
      </mat-list-item>

      <mat-list-item class="material-icons" [routerLink]="['ostalo']" [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>category</mat-icon>
        <p mat-line>Ostalo</p>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="partner.ppid">
      <h3 class="pozadina-glavna-50 boja-siva-300" mat-subheader>Moj Profil</h3>
      <mat-list-item class="material-icons" [routerLink]="['licni-podaci']"
        [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>person</mat-icon>
        <p mat-line>Licni Podaci</p>
      </mat-list-item>
      <mat-list-item class="material-icons" [routerLink]="['porudzbenice']"
        [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>list</mat-icon>
        <p mat-line>Porudzbine</p>
      </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item *ngIf="partner.ppid == null" class="material-icons" [routerLink]="['login']"
        [routerLinkActive]="['pozadina-glavna-200']">
        <mat-icon class="boja-siva-300" mat-list-icon>exit_to_app</mat-icon>
        <p mat-line>Login</p>
      </mat-list-item>
      <mat-list-item *ngIf="partner.ppid" class="material-icons" (click)="otvoriDialog()">
        <mat-icon class="boja-siva-300" mat-list-icon>power_settings_new</mat-icon>
        <p mat-line>Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async" class="header-pozicija pozadina-glavna-50">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="boja-siva-300" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>