@import "src/automaterijal-theme.scss";
h1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

a {
    color: $automaterijal-primary-100;
}

.slovo {
    width: 30px;
    margin-top: 0px;
    padding: 0px;
}