<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="css/registracija.css" th:href="@{css/registracija.css}"/>-->
    <style>
body {
	margin-left: 30%;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: rgba(40, 59, 78, 1);
}

th {
	text-align: 	left;
	color: rgba(62, 94, 158, 1);
}

td {
	font-weight: 	bold;
	font-family: serif;
	font-size: 	17px;
}

.vreme {
	margin-top: 30px;
	font-size: 	17px;
}

.vreme span {
	font-weight: 	bold;
}

table {
	margin-left: 10%;
	margin-top: 40px;
	width: 	300px;
}

    </style>
</head>
<body>
<h1>Web Poruka</h1>
<div>
    <table>
        <tr th:if="${!#strings.isEmpty(ime)}">
            <th>Ime </th>
            <td th:text="${ime}"></td>
        </tr>
        <tr th:if="${!#strings.isEmpty(prezime)}">
            <th>Prezime:</th>
            <td th:text="${prezime}"></td>
        </tr>
        <tr th:if="${!#strings.isEmpty(firma)}">
            <th>Firma:</th>
            <td th:text="${firma}"></td>
        </tr>
        <tr th:if="${!#strings.isEmpty(telefon)}">
            <th>Telefon:</th>
            <td th:text="${telefon}"></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td th:text="${posta}"> email</td>
        </tr>
        <tr>
            <th>Poruka:</th>
            <td th:text="${poruka}"></td>
        </tr>
    </table>
</div>
<div class="vreme">
    Poruka poslata:
    <span th:text="${vreme}">13 May 2011</span>
</div>
</body>
</html>