@import "src/automaterijal-theme.scss";

h1 {
    margin-top: 0.5em;
    font-size: 2.0 em;
    margin-bottom: 20px;
    padding: 10px;
}

p {
    font-size: 0.92em;
}

i {
    margin-bottom: 15px;
}

    .header-porduzbenice {
        background-image: url('/assets/slike/ui/pozadine/fdetalji.png');
        /* background-image: url('/assets/slike/ui/pozadine/roba.png'); */
        background-repeat: no-repeat;
        background-position: top;
        background-size: 120%;
    }
.granica-informacije {
    border-right: 1px solid $automaterijal-grey-300;
    border-left: 1px solid $automaterijal-grey-300;
    margin-top: 10px;
}

.sirina-b-1 {
    width: 60px;
    display: inline-block;
}
.sirina-b-2 {
    width: 85px;
    display: inline-block;
}
table {
    margin: 0px !important;
}

.header {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin:auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
    max-width: 940px;
    min-width: 330px;
}

.nazad-dugme-dole {
    top: 40px;
}

.greska-dugme-pozicija {
    position: relative;
    top: 50px;
}

.detalji-div {
    width: 90%;
    margin-left: 5%;
}

@media screen and (max-width: 900px) {

    p {
        font-size: 0.89em;
    }
    tr.mat-header-row {
        height: 0px;
    }
    .text-center {
        text-align: none;
    }

}


@media only screen and (max-device-width : 640px) {

    .header-porduzbenice {
        background-image: none;
    }
    

.header {
    margin: 0px 0px 10px 0px;
}
    h1 {
        margin-top: 0px;
    }

    .nazad-dugme-dole {
        top: 10px;
    }
    .greska-dugme-pozicija {
        position: relative;
        top: 5px;
    }
}