<div class="container-fluid">
  <main *ngIf="partner" class="licni-podaci">
    <div class="d-flex flex-column  flex-xl-row">
      <div class="strana">
        <div class="header2">
          <h1>Licni podaci</h1>
        </div>
        <ul>
          <li>
            <span class="leva-strana">
              Naziv:
            </span> <span class="desna-strana"> {{partner.naziv | titlecase}} </span>
          </li>
          <li><span class="leva-strana">Adresa:</span> 
            <span *ngIf ="partner.adresa">{{partner.adresa | titlecase}}</span>
            <span *ngIf ="!partner.adresa" class="boja-siva-200">Ne postoji podatak</span>
          </li>
          <li>
            <span class="leva-strana">Email:</span> 
            <span *ngIf ="partner.email">{{partner.email | lowercase}}</span>
            <span *ngIf ="!partner.email" class="boja-siva-200">Ne postoji podatak</span>
          </li>
          <li><span class="leva-strana">Stanje:</span> 
            <span *ngIf ="partner.stanje" [ngClass]="{'dugovanje': daLiDuguje}"><b>{{partner.stanje | currency:" "}} RSD</b></span>
            <span *ngIf ="!partner.stanje" class="boja-siva-200">Ne postoji podatak</span>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>