@import "src/automaterijal-theme.scss";

h1 {
    color: $automaterijal-primary-50 !important;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 25px;
}

p {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: inherit;
}

.email-input {
    width: 80%;
}

.pomeri-dole {
    margin-top: 10px;
}