
.forms-input {
    margin-top: 0px !important;
}
  
.sekcija-pretraga {
    height: 160px;
    background-image: url('/automaterijal/assets/slike/ui/pozadine/roba.png');
    background-repeat: no-repeat;
    background-size: cover;
}