<main>
  <div class="sekcija-pretraga">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="button-glavni-100 nazad-button" mat-raised-button (click)="idiNazad()">
        <mat-icon>keyboard_arrow_left</mat-icon> Nazad
      </button>
    </div>
    <div class="kategorija-pregraga-bar">
      <app-pretraga (pretragaEvent)="pronaciPoTrazenojReci($event)" (filterEvent)="toogleFilterDiv($event)">
      </app-pretraga>
    </div>
  </div>

  <!-- Filter komponenta izdvojena -->
  <app-filter class="margin-top--20" [vrstaRobe]="vrstaRobe" [filter]="filter" [otvoriFilter]="otvoriFilter"
    (filterEvent)="filtriraj($event)">
  </app-filter>

  <div class="d-flex flex-column prazna-tabela" *ngIf="!pronadjenaRoba">
    <i class="material-icons icon-size">
      error_outline
    </i>
    <h1 class="h1-upozorenje">Artikal ne postoji</h1>
  </div>

  <div class="d-flex justify-content-center prazna-tabela" *ngIf="ucitavanje">
    <mat-spinner></mat-spinner>
  </div>

  <app-tabela [rowsPerPage]="rowsPerPage" [pageIndex]="pageIndex" [tableLength]="tableLength" [dataSource]="dataSource"
    [roba]="roba" (magacinEvent)="paginatorEvent($event)"></app-tabela>
</main>