.industrijski-stil {
    width: 100%;
    height: 100%;
}
.spusti {
    margin-top: 0px;
}

.motorna-ulja {
    background-image: url('/assets/slike/ui/tabovi/mu.png');
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width :1025px) { 
    .spusti {
        margin-top: 30px;
    }
}
@media only screen and (max-device-width : 1000px) { 
    .spusti {
        margin-top: 10px;
    }
}