<main class="spusti">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Motorna ulja">
            <ng-template mat-tab-label>
                <img width="200" [src]="slike.motorna_ulja">
            </ng-template>
            <app-motorna></app-motorna>
        </mat-tab>
        <mat-tab label="Menjačka ulja">
            <ng-template mat-tab-label>
                <img width="200" [src]="slike.menjacka_ulja">
            </ng-template>
            <app-menjacko></app-menjacko>
        </mat-tab>
        <mat-tab label="Kočiona ulja">
            <ng-template mat-tab-label>
                <img width="200" [src]="slike.kociona_ulja">
            </ng-template>
            <app-kociona></app-kociona>
        </mat-tab>
        <mat-tab label="Antifiriz">
            <ng-template mat-tab-label>
                <img width="200" [src]="slike.antifriz">
            </ng-template>
            <app-antifriz></app-antifriz>
        </mat-tab>
        <mat-tab label="Industrijska ulja">
            <ng-template mat-tab-label>
                <img width="200" [src]="slike.industrijska_ulja">
            </ng-template>
            <app-industrijska></app-industrijska>
        </mat-tab>
    </mat-tab-group>
</main>